<% provide(:title, "ログイン") %>
<h1 class="page-heading">ログイン</h1>

<% if @error_message %>
	<div class="form-error">
		<%= @error_message %>
	</div>
<% end %>

<%= form_for :session, url: login_path do |f| %>

<div>
	<%= f.label :email, "メールアドレス" %>
	<%= f.text_field :email %>
</div>

<div>
	<%= f.label :password, "パスワード" %>
	<%= f.password_field :password %>
</div>

<div>
	<%= f.submit "ログイン", class: "btn btn-primary" %>
</div>

<% end %>