<!DOCTYPE html>
<html>
  <head>
    <title>Sheetshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="/" class="header-logo">
          SheetShare
        </a>
        <div class="header-list">
          <ul>
            <li>
              <a href="/users/new">
                新規登録
              </a>
            </li>
            <li>
              <a href="#">
                ログイン
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
